<div class="card shadow">
  <h4 class="card-header">
    <a style="color: #8AD8CE;">Won List</a>
    <!--Search-->
    <form class="form-inline " action="/user/watchlist/search" method="POST" style="float: right;">
      <input class="form-control rounded-0" type="search" placeholder="Search" id="inputSearchWL" name="inputSearchWL">
      <button class="btn cus_btn rounded-0" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </h4>

  {{#if this.empty}}
  <div class="card-body">
    <p class="card-text">
      Không có dữ liệu.
    </p>
  </div>
  {{else}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">ProductID</th>
        <th scope="col">Image</th>
        <th scope="col">Name Product</th>
        {{!-- <th scope="col">Descript</th> --}}
        <th scope="col">BuyDate</th>
        <th scope="col">EndDate</th>
        <th scope="col">Seller</th>
        <th scope="col">Start Price</th>
        <th scope="col">BIN</th>
        <th scope="col">Step</th>

        </th>
      </tr>
    </thead>
    <tbody>
      {{#each this.categories}}
      <tr>
        <th scope="row" class="text-center"><a href="/categories/products/2" style="color: black;"> {{ProductID}} </a>
        </th>
        <td> <img src="/imgs/sp/{{ProductID}}/main_thumbs.jpg" alt="{{NameProduct}}" title="{{NameProduct}}"></td>
        <td> <a href="/categories/products/2" style="color: black;">{{NameProduct}} </a></td>
        {{!-- <td>{{Descript}}</td> --}}
        <td>{{BuyDate}}</td>
        <td>{{EndDate}}</td>
        <td>{{UserName}}</td>
        <td>{{StartPricce}}</td>
        <td>{{BIN}}</td>
        <td>{{Step}}</td>
        <td>

          {{!-- <form class="form-inline " action="/user/{{authUser.UserID}}/watchlist/delete/{{ProductID}}" method="POST">
            <button type="submit" class="btn btn-danger">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
          </form> --}}
          {{!-- <button type="submit" class="btn btn-outline-danger" formaction="/user/1/watchlist/delete" formmethod="POST">
               <i class="fa fa-star" aria-hidden="true"></i>             
            </button> --}}
      </tr>

      {{/each}}
    </tbody>
  </table>
  {{/if}}
  <div class="card-footer text-muted">
    MiNiQa
  </div>
</div>